@media screen and (min-width: 800px) {
    .nav {
        align-items: center;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 9;
        width: 90%;
        height: 5rem;
        background-color: var(--color-white);
        margin: 0 5%;
    }

    .nav .logo {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        gap: 0.1rem;
    }

    .nav .logo .icon {
        size: 12rem;
        height: 2rem;
        width: 2rem;
        color: var(--color-text);
    }

    .nav .logo h1 {
        color: var(--color-text);
        font-weight: 500;
    }




    .nav .p1 {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

    }


    .nav .p1 .p2 a {
        margin: 0 1rem;
        color: var(--color-text);
        text-decoration: none;

    }

    .nav .p1 .p2 a:hover {
        margin: 0 1rem;
        color: var(--color-text);
        text-decoration: double;

    }

    .nav .p1 .btn {
        border-radius: .6rem;
        border: solid 1px var(--color-text);
        align-items: center;
        text-align: center;
        padding: .8rem;
    }
}

@media screen and (max-width: 800px){

    .nav {
        align-items: center;
        top: 0;
        left: 0;
        position: flex;
        z-index: 9;
        width: 90%;
        height: 5rem;
        background-color: var(--color-white);
        margin: 0 5%;
    }

    .nav .logo {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        gap: 0.1rem;
    }

    .nav .logo .icon {
        size: 12rem;
        height: 2rem;
        width: 2rem;
        color: var(--color-text);
    }

    .nav .logo h1 {
        color: var(--color-text);
        font-weight: 500;
    }




    .nav .p1 {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

    }
    .nav .p1 .btn {
        border-radius: .6rem;
        border: solid 1px var(--color-text);
        align-items: center;
        text-align: center;
        padding: .8rem;
    }





    .nav .p2 .links{
        display: none;
    }


}