.ads{
    width: 100%;
    height: 5rem;
    margin: 0 5%;
    /* background-color: aqua; */
    background-color: var(--color-white);


}
.ads .ad-list{
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    height: 5rem;
    align-items: center;
    overflow: hidden;
    
}

.ads .ad-list img{
    height: 3.0rem;
    margin: 1rem;
    
}

